<div class="footer_container">
  <!-- info section -->
  <section class="info_section">
    <div class="container">
      <div class="contact_box">
        <a href="">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </div>
      <div class="info_links">
        <ul>
          <li class="active">
            <a href="#"> Trang chủ </a>
          </li>
          <li>
            <a href="#"> Đặt bàn </a>
          </li>
          <li>
            <a class="#" href="#"> Tài khoản </a>
          </li>
        </ul>
      </div>
      <div class="social_box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </section>
  <!-- end info_section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>&copy; <span id="displayYear"></span> All Rights Reserved by:</p>
      <div class="contact-info" style="padding-bottom: 20px">
        <p style="padding-bottom: 10px"><strong>Nguyễn Thị Mỹ Liên</strong></p>
        <ul>
          <li>
            Phone: <a style="color: #fff" href="tel:0901998145">090 199 8145</a>
          </li>
          <li>
            LinkedIn:
            <a
              style="color: #fff; text-decoration: underline"
              href="https://linkedin.com/in/nguyenthimylien610/"
              target="_blank"
              >linkedin.com/in/nguyenthimylien610/</a
            >
          </li>
        </ul>
        <hr />
        <p style="padding-bottom: 10px"><strong>Phạm Duy Vũ</strong></p>
        <ul>
          <li>
            Phone: <a style="color: #fff" href="tel:0329000547">032 900 0547</a>
          </li>
          <li>
            LinkedIn:
            <a
              style="color: #fff; text-decoration: underline"
              href="https://www.linkedin.com/in/phamduyvu/"
              target="_blank"
              >linkedin.com/in/phamduyvu/</a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- footer section -->
</div>
