<div class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/">
            <span> Chay Xanh </span>
          </a>
          <div class="" id="">
            <div class="User_option">
              <a href="/login">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Đăng nhập</span>
              </a>
              <!-- <form class="form-inline">
                <input type="search" placeholder="Search" />
                <button class="btn nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form> -->
            </div>
            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <img src="/customers/images/menu.png" alt="" />
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <div class="overlay-content">
                  <a href="/">Trang chủ</a>
                  <a href="/order">Đặt bàn</a>
                  <% if(customer){ %>
                  <a href="/order/order-history">Lịch sử đặt bàn</a>
                  <a href="/profile">Tài khoản</a>
                  <a href="/logout">Đăng xuất</a>
                  <% }else{ %>
                  <a href="/login">Đăng nhập</a>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="col-md-11 col-lg-10 mx-auto">
        <div class="heading_container heading_center">
          <h2 style="font-family: 'Open Sans', sans-serif">Quên mật khẩu</h2>
        </div>
        <div class="row">
          <div class="col-12 mt-5">
            <div class="login_container">
              <div class="form_login">
                <div class="col-md-3 mx-auto">
                  <div class="img-box">
                    <img src="/admins/img/images.jpeg" class="box-img" alt="" />
                  </div>
                </div>
                <div class="login_title">
                  <h1>Vui lòng nhập địa chỉ số điện thoại bên dưới.</h1>
                </div>
                <form class="form" id="form_login">
                  <div class="form_group">
                    <div class="form_field">
                      <input
                        name="phoneNumber"
                        id="phoneNumber"
                        type="text"
                        class="form_input"
                        placeholder=" "
                        autocomplete="off"
                      />
                      <label for="phoneNumber" class="form_label"
                        >Số điện thoại</label
                      >
                    </div>
                    <span class="form_messages"></span>
                  </div>

                  <div class="mt-2">
                    <button
                      type="submit"
                      class="btn btn_primary"
                      style="width: 100%; padding: 14px 12px"
                    >
                      Lấy mật khẩu
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 mx-auto">
            <div class="box">
              <div class="detail-box" style="text-align: justify">
                <p>
                  Quên mật khẩu? Đừng lo, chúng tôi sẽ giúp bạn khôi phục tài
                  khoản ngay! Chỉ với vài bước đơn giản, bạn có thể:
                  <br />
                  Khôi phục tài khoản dễ dàng: Lấy lại quyền truy cập tài khoản
                  của bạn một cách nhanh chóng.
                  <br />
                  Bảo mật thông tin: Đảm bảo thông tin cá nhân của bạn được an
                  toàn.
                  <br />
                  Tiếp tục trải nghiệm tiện ích: Quản lý đặt bàn, theo dõi lịch
                  sử, và nhận các ưu đãi hấp dẫn ngay khi khôi phục tài khoản.
                  <br />
                  Hãy nhập số điện thoại để bắt đầu quá trình khôi phục mật
                  khẩu!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
</div>
<script src="/admins/js/toast.js"></script>
<script src="/admins/js/validator.js"></script>
<script>
  const duration = 2000;
  // Handle validation form login
  Validator({
    form: "#form_login",
    formGroupSelector: ".form_group",
    errorSelector: ".form_messages",
    rules: [
      Validator.isRequired("#phoneNumber", "Vui lòng nhập số điện thoại."),
    ],
    onSubmit: (data) => {
      $.ajax({
        type: "POST",
        url: "/forgot-password",
        data: data,
        success: function (response) {
          if (response.code === 1) {
            toast({
              title: "Thất bại",
              message: response.message,
              type: "info",
              duration,
            });
          } else {
            toast({
              title: "Thành công",
              message: `Mật khẩu đã được gửi về email của bạn.`,
              type: "success",
              duration,
            });
          }
        },
        error: function (error) {
          toast({
            title: "Thất bại",
            message: `Lấy mật khẩu thất bại`,
            type: "error",
            duration,
          });
        },
      });
    },
  });
</script>
