<div class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/">
            <span> Chay Xanh </span>
          </a>
          <div class="" id="">
            <div class="User_option">
              <a href="/login">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Đăng nhập</span>
              </a>
              <!-- <form class="form-inline">
                <input type="search" placeholder="Search" />
                <button class="btn nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form> -->
            </div>
            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <img src="/customers/images/menu.png" alt="" />
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="/">Trang chủ</a>
                <a href="/order">Đặt bàn</a>
                <a href="/login">Đăng nhập</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="col-md-11 col-lg-10 mx-auto">
        <div class="heading_container heading_center">
          <h2 style="font-family: 'Open Sans', sans-serif">Đăng nhập</h2>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="box">
              <div class="col-md-7 mx-auto">
                <div class="img-box">
                  <img src="/admins/img/images.jpeg" class="box-img" alt="" />
                </div>
              </div>
              <div class="detail-box" style="text-align: justify">
                <p>
                  Tham gia ngay để trải nghiệm dịch vụ đặt bàn tiện lợi và nhận
                  những ưu đãi hấp dẫn dành riêng cho thành viên. Đăng ký tài
                  khoản giúp bạn:
                  <br />
                  Dễ dàng đặt bàn: Đặt bàn nhanh chóng cho các chi nhánh trong
                  hệ thống của chúng tôi.
                  <br />

                  Quản lý đặt chỗ: Theo dõi lịch sử và cập nhật thông tin đặt
                  bàn dễ dàng.
                  <br />

                  Nhận thông báo khuyến mãi: Nhận các ưu đãi đặc biệt dành cho
                  thành viên.
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 mt-5">
            <div class="login_container">
              <div class="form_login">
                <div class="login_title">
                  <h1>Đăng nhập hệ thống</h1>
                </div>
                <form class="form" id="form_login">
                  <div class="form_group">
                    <div class="form_field">
                      <input
                        name="email"
                        id="email"
                        type="text"
                        class="form_input"
                        placeholder=" "
                        autocomplete="off"
                      />
                      <label for="email" class="form_label">Email</label>
                    </div>
                    <span class="form_messages"></span>
                  </div>
                  <div class="form_group">
                    <div class="form_field">
                      <input
                        name="password"
                        id="password"
                        type="password"
                        class="form_input"
                        placeholder=" "
                        autocomplete="off"
                      />
                      <label for="password" class="form_label">Mật khẩu</label>
                    </div>
                    <span class="form_messages"></span>
                  </div>
                  <div
                    style="
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                    "
                  >
                    <a href="/register" style="color: #555; font-weight: 400">
                      Đăng ký
                    </a>
                    <a
                      href="/forgot-password"
                      style="color: #555; font-weight: 400"
                      >Quên mật khẩu?</a
                    >
                  </div>
                  <div class="mt-2">
                    <button
                      type="submit"
                      class="btn btn_primary"
                      style="width: 100%; padding: 14px 12px"
                    >
                      Đăng nhập
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
</div>
<script src="/admins/js/toast.js"></script>
<script src="/admins/js/validator.js"></script>
<script>
  const duration = 2000;
  // Handle validation form login
  Validator({
    form: "#form_login",
    formGroupSelector: ".form_group",
    errorSelector: ".form_messages",
    rules: [
      Validator.isRequired("#email", "Vui lòng nhập  email."),
      Validator.isRequired("#password", "Vui lòng nhập mật khẩu"),
    ],
    onSubmit: (data) => {
      $.ajax({
        type: "POST",
        url: "/login",
        data: data,
        success: function (response) {
          if (response.code === 1) {
            toast({
              title: "Thất bại",
              message: response.message,
              type: "error",
              duration,
            });
          } else {
            toast({
              title: "Thành công",
              message: `Đăng nhập thành công`,
              type: "success",
              duration,
            });
            $(".login").addClass("animation");
            setTimeout(() => {
              window.location.href = "/";
            }, duration);
          }
        },
        error: function (error) {
          toast({
            title: "Thất bại",
            message: `Dăng nhập thất bại`,
            type: "error",
            duration,
          });
        },
      });
    },
  });
</script>
